<div class="completedTitle">
    <h2 > Compelted task(s).</h2>
    <input id = "clearTasks" class = "button is-light is-rounded" type = "button" value="Clear"> 
</div>
<section>
    <div id = "completeList">
        <ul id = "completedItems">
            <% tasks.forEach(function(task) { 
                if (task.Complete === 1){ %>
                    <li class = "item" id ="<%= task._id %>">
                        <%= task.Description %>
                        <input type = "checkbox" checked = "true"></li>
                <% }
            }); %>
        </ul>
    </div>
</section>