<div class="completedTitle">
    <h2 > Compelted task(s).</h2>
    <input id = "clearTasks" class = "button is-light is-rounded" type = "button" value="Clear"> 
</div>
<section>
    <div id = "completeList">
        <ul id = "completedItems">
            <li class = "item">Test item <input type = "checkbox" checked = "true"></li>
        </ul>
    </div>
</section>