<div class="todoTitle">
    <h2>Todo.</h2>
</div>
<section>
    <div id = "todoList"> 
        <ul id = "existingItems">
            <% tasks.forEach(function(task) { %>
            <li class = "todoItem" id ="<%= task._id %>">
                <%= task.Description %>
                <input type = "checkbox"></li>
            <% }); %>
        </ul>
    </div>
</section>